body{
    margin: 0;
    padding: 0;
}

/* allows for containers to be positioned next to each other 
in a column layout */
.actions{
    display: flex;
    background-color: #e76262;
}

.arrow-actions{
    background-color: #e76262;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* fixed height to change position of icon in container */
}

.main-actions{
    display: flex;
    align-items: center; /* position container items in center of container */
    background-color: #e76262;
    min-height: 100vh; /* height of container */
    width: 200vh; /* width of container */
    flex-direction: column;
    color: white;
    /* controls position of container */
    margin-top: 100px; 
    margin-left: 78px;
}

.dropdown-button-custom{
    background-color: #ffffff !important;
    color: #e76262 !important;
    font-weight: bold !important;
    font-size: large !important;
    border-color: white !important;
    width: 400px !important;
    transition: background-color 0.5s ease, color 0.5s ease !important;
}

.dropdown-button-custom:hover{
    background-color: #ede0e0 !important;
    color: #e76262 !important;
    border-color: #ede0e0 !important;
}

.dropdown-menu-custom{
    width: 400px !important;
    align-items: center !important;
}

.dropdown-item-custom{
    transition: background-color 0.8s ease, color 0.8s ease !important;
    text-align: center !important;
    font-size: large !important;
    color: #e76262 !important;
}

.dropdown-item-custom:hover{
    background-color: #f3d7d7 !important;
}